/*TABLE OF CONTENTS*/
/*http://paletton.com/#uid=75B0u0kjkkF9PuteVp1nsg-sQbn*/

/*HTML ELEMENTS*/
/*HEADER*/
/*CARDS*/
/*CARD BACKGROUND IMAGES*/

/*HTML ELEMENTS*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #286561;
  position: relative;
  height: 150px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

main {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  margin-left: 10px;
}

article {
  width: 23vw;
  height: 350px;
  background-color: #F3C9A8;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3,
h4 {
  font-family: 'Lato', sans-serif;
  padding: 5px;
  color: #59090D;
}

/*HEADER*/

.user-ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-ul li {
  padding: 7px;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-logo {
  width: 15px;
}

.nav-icon {
  height: 50px;
  vertical-align: middle;
}

.user {
  color: #ca010c;
}

/*CARDS*/

.background-div {
  background-color: #EEA5A9 ;
  background-size: cover;
  background-repeat: no-repeat;
}

.share-arrow {
  position: absolute;
  top: 0;
  float: left;
  width: 50px;
  margin: 15px;
}

.views {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  margin: 15px;
  color: #053834;
}

.aside-top-views {
  color: #053834;

}

.aside-bottom {
  font-size: 2em;
}

.mil {
  color: #5EA357;
}

.card-top {
  height: 38%;
  background-size: cover;
  background-position-x: 70%;
  background-position-y: 80%;
  opacity: .4;
}

.link {
  margin: 10px;
  overflow: scroll;
  height: 2em;
  background-color: #C7936B;
  color: #5B2C09;
  font-size: .7em;
}

.attachments {
  position: absolute;
  bottom: 0;
  margin: 2px;
  padding: 5px;
}

.card-text-small {
  padding: 5px;
  color: #C4696E;
  margin-top: -10px;
  font-size: .7em;
}

.platform,
.aside-top {
  color: #59090D;
}

.platform {
  padding: 5px;
  font-size: .7em;
  text-transform: uppercase;
  margin-bottom: -10px;
}

/*CARD BACKGROUND IMAGES*/

.card-one {
  background-image: url('zelda-assets/zelda-1-card.png');
}

.card-two {
  background-image: url('zelda-assets/zelda-2-card.png');
}

.card-two {
  background-image: url('zelda-assets/zelda-2-card.png');
}

.card-three {
  background-image: url('zelda-assets/zelda-3-card.png');
}

.card-four {
  background-image: url('zelda-assets/zelda-4-card.png');
}

.card-five {
  background-image: url('zelda-assets/zelda-5-card.jpg');
}

.card-six {
  background-image: url('zelda-assets/zelda-6-card.jpg');
}

.card-seven {
  background-image: url('zelda-assets/zelda-7-card.png');
}

.card-eight {
  background-image: url('zelda-assets/zelda-8-card.png');
}

.card-nine {
  background-image: url('zelda-assets/zelda-9-card.jpg');
}

.card-ten {
  background-image: url('zelda-assets/zelda-10-card.png');
}

.card-eleven {
  background-image: url('zelda-assets/zelda-11-card.png');
}

.card-twelve {
  background-image: url('zelda-assets/zelda-12-card.jpg');
}

.card-thirteen {
  background-image: url('zelda-assets/zelda-13-card.png');
}

.card-fourteen {
  background-image: url('zelda-assets/zelda-14-card.png');
}

.card-fifteen {
  background-image: url('zelda-assets/zelda-15-card.jpg');
}

.card-sixteen {
  background-image: url('zelda-assets/zelda-16-card.jpg');
}

.card-seventeen {
  background-image: url('zelda-assets/zelda-17-card.jpg');
}

.card-eighteen {
  background-image: url('zelda-assets/zelda-18-card.jpeg');
}
